<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.priorityonepodcast.p1app" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".P1MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.newsdetail.PodcastActivity"
            android:label="@string/title_activity_podcast" >
        </activity>
        <activity
            android:name=".activities.coe.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".activities.news.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name=".activities.SocialActivity"
            android:label="@string/title_activity_social" >
        </activity>
    </application>

</manifest>
